In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./lsd-math-score-data.csv')

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [5]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [6]:
data['Time_Delay_in_Minutes'][0] #Henter f√∏rste element i 'Time_Delay_in_Minutes' kolonnen.

5

In [7]:
Time_Delay_in_Minutes = data['Time_Delay_in_Minutes']

In [8]:
data['High score'] = 100

In [9]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High score
0                      5     1.17                78.93         100
1                     15     2.97                58.20         100
2                     30     3.26                67.47         100
3                     60     4.69                37.47         100
4                    120     5.83                45.65         100
5                    240     6.00                32.92         100
6                    480     6.41                29.97         100

In [10]:
data['High score'] = 100 + data['Avg_Math_Test_Score']

In [11]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High score
0                      5     1.17                78.93      178.93
1                     15     2.97                58.20      158.20
2                     30     3.26                67.47      167.47
3                     60     4.69                37.47      137.47
4                    120     5.83                45.65      145.65
5                    240     6.00                32.92      132.92
6                    480     6.41                29.97      129.97

In [12]:
two = Dataframe

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [14]:
178.93 * 178.93

32015.944900000002

In [22]:
#We only need two of the columns
clean_data = data[['LSD_ppm', 'Avg_Math_Test_Score']]

In [23]:
clean_data

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [24]:
#Eller kanskje vi bare trenger 1 kolonne, vi trenger det i dataframe format n√• vi for eksempel bruker sci-learn og ikke series
y = data[['Avg_Math_Test_Score']]

In [27]:
type(y)

pandas.core.frame.DataFrame

In [26]:
#Dersom vi dropper linsten inni df[[]] for vi en series
series_data = data['Avg_Math_Test_Score']

In [28]:
type(series_data)

pandas.core.series.Series

In [31]:
x = data[['LSD_ppm']]

In [32]:
type(x)

pandas.core.frame.DataFrame

In [33]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [36]:
#Sletter kolonne
del data['High score']

KeyError: 'High score'

In [35]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97